.card-group{
    width: 95%;
}
.trending{
    font-weight: 700;
    margin-top: 250px;
}
.row{
    margin-top: 100px;
    width: 95%;
}
.comment{
    margin-top: 50px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
}
.landing{
    margin-bottom: 50px;
}